<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.malouda.interfacegoogledrive" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyDrive"
            android:label="@string/title_activity_my_drive" >
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name=".NuevoUsuario"
            android:label="@string/title_activity_nuevo_usuario" >
        </activity>
        <activity
            android:name=".NuevoUsuarioFail"
            android:label="@string/title_activity_nuevo_usuario_fail" >
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".PaginaMenu"
            android:label="@string/title_activity_pagina_menu" >
        </activity>
        <activity
            android:name=".MainActivityFail"
            android:label="@string/title_activity_main_activity_fail" >
        </activity>
        <activity
            android:name=".Configuracion"
            android:label="@string/title_activity_configuracion" >
        </activity>
        <activity
            android:name=".MiCuenta"
            android:label="@string/title_activity_mi_cuenta" >
        </activity>
    </application>

</manifest>
